*.py[cod]

# C extensions
*.so

#env
env/
env
# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
dist
build
dist
dist/*
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
_pycache_

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

# Translations
*.mo

# Vim
*.sw[op]

# Sphinx
docs/_build
# PyCharm
.idea

# Cookiecutter
output/

# Eclipse
.project
.pydevproject

# Subversion
.svn

# cache from tests (pytest, ...)
.cache

# virtualenv
include/
local/
pip-selfcheck.json

# SPECIFIC
*.jpg
output.txt

# CUSTOM
cassette/
google_images_download/gid_debug.db
log/
tests/local_data/
