[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
"flake8" = "*"
vcrpy = "*"
pipenv = "*"
pytest = "*"


[packages]

Flask-Admin = "*"
Flask-paginate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
flask = "*"
humanize = "*"
SQLAlchemy-Utils = "*"
appdirs = "*"
"beautifulsoup4" = "*"
click = "*"
fake-useragent = "*"
lxml = "*"
Pillow = "*"
requests = "*"
"Send2Trash" = "*"
structlog = "*"
