{% extends 'admin/base.html' %}

{% block body %}
{% if entry.match_results %}

<div class="col-sm-12">
  <figure class="col-sm-3">
    <a class="thumb" href="{{entry.url}}">
      <img style="max-height: 280px; max-width: 280px; " class="img-thumbnail img-responsive center-block" src="{{entry.match_results[0].thumbnail_url.url}}">
    </a>
    <figcaption>
      <a class="btn btn-default btn-xs" href="{{entry.url}}">{{entry.width}}x{{entry.height}}</a>
      <a class="btn btn-default btn-xs" href="{{entry.url}}">[link]</a>
      <a class="btn btn-default btn-xs" href="{{url_for('imageurl.edit_view', id=entry.id)}}">
        <span class="fa fa-search glyphicon glyphicon-pencil">
      </a>
    </figcaption>
  </figure>
</div>

<div>
  <h3>Tags</h3>
  <table class="table table-condensed table-bordered">
  {% for tag in entry.get_sorted_tags() %}
    {% if tag.namespace.hidden %}
    {% elif tag.hidden %}
    {% else %}
    <tr>
      <th>{{tag.namespace.value}}</th>
      <td>
        <a href ="#" class="{{tag.namespace.format_html_class() if tag.namespace}}"> {{tag.value}}</a>
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
</div>
<div>
<h3>Match results</h3>
{% for match_result in model.match_results %}
  <table class="table table-condensed table-bordered">
    <tr><th>ID</th>
      <td>
        <a href="{{url_for('matchresult.details_view', id=match_result.id)}}">{{match_result.id}}</a>
        <a class="btn btn-default btn-xs" href="{{url_for('matchresult.edit_view', id=match_result.id)}}">
          <span class="fa fa-search glyphicon glyphicon-pencil">edit</span>
        </a>
      </td>
    </tr>
    {% for key, value in match_result.__dict__.items() %}
      {% if key in ['_sa_instance_state', 'id', 'thumbnail_url_id', 'img_url_id', 'json_data_id', 'search_query_id'] %}
      {% elif key == 'thumbnail_url' %}
        <tr>
          <th>{{key|replace('_', ' ')}}</th>
          <td>
            <a href="{{match_result.thumbnail_url.url}}">
              <img src="{{match_result.thumbnail_url.url}}">
            </a>
          </td>
        </tr>
      {% else %}
        <tr><th>{{key|replace('_', ' ')}}</th><td>{{value}}</td></tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}

{% endif %}
{% endblock %}

