{% extends 'admin/base.html' %}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="#" />
{% endblock %}

{% block body %}
{{super()}}
<form method="GET" action="/">
  <div class="form-group"> {{ form.query.label }} {{ form.query(size=100, class_="form-control") }} </div>
  <div class="checkbox"> <label>{{form.disable_cache(type='checkbox')}}{{form.disable_cache.label}}</label></div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% if entry.search_results|length > 1 %}
{{pagination_section(info=False)}}
{% endif %}
<br>
{% if entry %}<p> {{entry.match_results|length}} Results<br/> {% endif %}
{% if entry.match_results|length != match_results|length %}{{match_results|length}} Shown</p>{% endif %}
{{pagination_section(info=False)}}
<div class="grid">
  {% for match_result in match_results %}
  <div class="grid-item col-xs-6 col-md-3" sytle="">
  <figure id="mr{{match_result.id}}">
    <a class="thumb" href="{{url_for('u.index', u=match_result.img_url.value)}}">
      <img class="img-responsive" src="{{match_result.thumbnail_url.value}}">
    </a>
    <figcaption>
      <a class="btn btn-default btn-md"
        href="{{match_result.value}}">{{match_result.img_url.width}}x{{match_result.img_url.height}}</a>
      <a class="btn btn-default btn-md" href="{{url_for('f.index', url=match_result.img_url.url, search_type=1)}}">
        <span class="fa fa-search glyphicon glyphicon-search"></span> similar
      </a>
      <a class="btn btn-default btn-md" href="{{url_for('f.index',
        url=match_result.img_url.value, search_type=2)}}">
        <span class="fa fa-search glyphicon glyphicon-search"></span> size
      </a>
      <button class="btn btn-default hide-btn btn-md" type="button" data-id="{{match_result.img_url.id}}"
        data-mr-id="mr{{match_result.id}}">
        <span class="fa fa-filter glyphicon glyphicon-filter"></span> filter
      </button>
    </figcaption>
  </figure>
  </div>
{% endfor %}
</div>
<br>
{{pagination_section(info=False)}}
{% endblock body %}

{% block tail_js %}
{{super()}}
<script src="{{url_for('static', filename="gbooru_images_download/imagesloaded.pkgd.min.js")}}" type="text/javascript"> </script>
<script src="{{url_for('static', filename="gbooru_images_download/jquery.masonry.min.js")}}" type="text/javascript"> </script>
<script src="{{url_for('static', filename="gbooru_images_download/index.js")}}" type="text/javascript"> </script>
{% endblock %}

{% macro pagination_section(info=True)%}
  {% if info %} {{ pagination.info }} {% endif %}
  {{ pagination.links }}
  {% if query and not pagination.has_next and entry %}
  <ul class="pagination">
    <li class="next"><a href="{{url_for('admin.index', query=query, page=pagination.page+1)}}">load next page</a></li>
  </ul>
  {% endif %}
{% endmacro %}
